$base-text-color: #272423;
$link-color: #ff9933;
$background: #efefef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: $base-text-color;
  background-color: $background;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loading {
  text-align: center;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.5)
  );

  .message {
    position: relative;
    transform: translate(-5%, -5%);
    font-size: 20px;
    top: 50%;
    left: 50%;
    color: #fff;
  }
}

.loader-open {
  overflow: hidden;
}

.hide {
  display: none;
}

.active {
  font-weight: bold;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 10px;
    text-transform: uppercase;
    color: inherit;
    letter-spacing: 2px;
  }
}

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 1rem;
  .story {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 16px 16px 8px -16px #ccc;
    display: grid;
    gap: 0.5rem;
    align-content: end;

    .story-title {
      margin-bottom: 4px;
      max-width: 100%;
      overflow: hidden;
      // white-space: nowrap;
      text-overflow: ellipsis;
      a:link,
      a:visited {
        font-size: 18px;
        color: $base-text-color;
      }

      a:hover,
      a:active {
        text-decoration: none;
      }
    }

    .story-info {
      color: $link-color;
      span {
        margin: 4px;
      }
      a {
        color: inherit;
      }
    }

    .story-author {
      color: #aaa;
      font-size: 0.9rem;
    }

    .story-date-time {
      font-size: 0.8rem;
    }

    .story-comments {
      float: right;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .nav-link {
    flex-direction: column;
  }
  .story {
    width: 90%;
  }
}
